@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
